h1{
    color: yellow;
    background-color: blue;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-family: 'Potta One', cursive;
}

.primero{
    font-size: 0.4cm;
    background-color: lightblue;
    block-size: 100px;
    text-align: left;
    font-size: smaller;
    
}

.segundo{
    color: yellow;
    background-color: black;
}

hr{
    height: 10px;
    background-color: blue;
}

.tercero{
    font-family: 'Coda Caption', sans-serif;

}

.cuarto{
    font-family: 'Yusei Magic', sans-serif;
}